:root {
  --background: #cccccc;
  --foreground: #212121;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Bulleted List Styles */
ul {
  list-style-type: disc;
  margin: 8px 0 16px 16px;
}

ul ul {
  list-style-type: circle;
  margin-left: 16px;
  margin-bottom: 0;
}

ul ul ul {
  list-style-type: square;
}

li + li {
  margin-top: 8px;
}

/* Lib Overrides */
.FlashcardArrayWrapper__CardHolder.FlashcardArrayWrapper__CardHolder {
  height: 100vh;
}
