.root {
  display: flex;
}

.cardsWrapper {
  flex-grow: 1;
}

.deckControls {
  flex-basis: 100px;
}

:global(.FlashcardArrayWrapper__CardHolder.FlashcardArrayWrapper__CardHolder) {
  height: 100vh;
}
